@charset 'UTF-8';

/* tablet & mobile */
@media (max-width:1024px) {
	/* common */
	body { font-size:14px; }

	.only-pc { display:none !important; }

	/* title */
	.tit-sub { margin-bottom:5px; font-size:24px; }
	.tit-d1 { font-size:50px; }
	.tit-d2 { font-size:35px; }
	.tit-d3 { font-size:25px; }
	.tit-d4 { font-size:22px; }
	.desc-d1 { font-size:20px; }
	.desc-d2 { margin-top:10px; font-size:18px; word-break:keep-all; }
	.desc-d1:before { margin:15px auto 25px; }

	.br { display:none; }

	/* button */
	.btn-base { height:45px; padding:0 20px; line-height:48px; font-size:14px; }
	.btn-close { width:40px; height:40px; }

	.cont-grid { padding:12% 5%; }

	.visual-area.main { height: calc(61vw + 70px); }
	.visual-area .visual-inner { padding-top:70px; }
	.slider-visual { top:70px; }
	
	.cont-area.intro .cont-grid { padding-bottom:0}
	.intro-desc { left:auto; right:5%; width:28vw; height:28vw; top:100px; font-size:4vw; padding:6% 0 0 6%; transform:none; }
	.intro-box.box2 { display:none; }
	.intro-vod { max-width:600px; width:75vw; padding-top:600px; margin-bottom:-5%; border-radius:0 10vw 0 10vw; }
	.intro-vod .video-js { top:21%; height:55%; max-height:350px; top:50%; transform:translateY(-55%) }
	.intro-vod-txt { top:50%; margin-top:185px; }
	.intro-box.box1 { float:right; max-width:600px; width:75vw; right:0; position:relative; top:auto; bottom:auto; right:auto; padding:7.5vw 6.5vw; border-radius:10vw 10vw 0 0; }
	.intro-box.box1 .img-bg { transform:scale(.7); right:-20px; bottom:-40px; }
	.cont-area.intro .cont-grid:after {display:block; clear:both; content:""}

	.cont-area.event .event-tit { font-size:4.4vw; }

	.cont-area.detailinfo .cont-grid { padding-top:0; }
	.info-list .img { top:45px; left:0; right:0; width:100%; margin:0 auto; text-align:center; transform:none; }
	.info-list > div.item2 .img { right:0; }
	.info-list > div { padding:45px 30px !important; }
	.info-list dt { float:none; width:100%; text-align:center; padding:0; margin-top:270px; margin-bottom:30px; }
	.info-list dt strong { display:inline; }
	.info-list > div.item2 dt { margin-top:320px; }
	.info-list dd{ float:none !important; padding:0 !important; width:100%; text-align:center;}
	.info-list dd.cont { width:100%; }
	/* header */
	.header-area { height:70px; overflow:visible; }
	.header-area:after { top:68px; }
	.header-area .gnb-area { float:none; position:fixed; padding:70px 0 0; margin:0; top:0; left:-100%; background:#fff; width:100%; height:100%; transition:all ease-in-out .35s; }
	.header-area.open .gnb-area { left:0; }
	.header-area.open .gnb-area
	.header-area.open:after { opacity:0; }
	.header-area .logo { z-index:2; position:absolute; left:15px; top:45%; transform:translateY(-50%); margin:0; }
	.header-area .btn-menu { z-index:2; display:block; position:absolute; top:19px; right:15px; }
	.header-area.open .btn-menu:after,
	.header-area.open .btn-menu:before,
	.header-area.open .btn-menu span { background:#000; }
	.header-area.open .btn-menu:before { transform:rotate(45deg); top:14px; left:2px; }
	.header-area.open .btn-menu:after { transform:rotate(-45deg); top:14px; left:2px; }
	.header-area.open .btn-menu span { width:0; }

	.header-util { position:absolute; top:12px; right:50px; float:none; margin:0; }
	.header-util > span { margin:0 8px; }
	.header-util a span {margin-top:-5px;}

	.logo img { width:70px; height:auto; }
	.logo span { font-size:25px; }
	.gnb-area .nav-d1 a { display:block; height:50px; line-height:52px; padding:0 15px; border-bottom:1px solid #e8e7e7; overflow:hidden; }
	.nav-d1 { width:100%; padding:0;overflow-y:auto; border-top:1px solid #8f8b8a; }
	.nav-d1 > li { display:block; margin:0; color:#000; font-size:20px; text-align:left; }
	.nav-d1 > li > a:hover, 
	.nav-d1 > li:hover > a,
	.nav-d1 > li > a:focus, 
	.nav-d1 > li:focus > a { color:inherit; }
	.nav-d1 > li > a { position:relative; font-size:16px; font-weight:700; background:#f8f9fa; }
	.nav-d1 > li > a:after { position:absolute; right:15px; top:15px; display:block; width:10px; height:10px; border-top:1px solid #454545; border-right:1px solid #454545; margin:2px 4px 0 0; transform:rotate(135deg); content:""; }
	.nav-d1 > li > a:only-child:after { display:none; }
	.nav-d1 > li.on > a { background:#0973BA; color:#fff; }
	.nav-d1 > li.on > a:after { border-color:#fff; margin-top:8px; transform:rotate(-45deg); }
	.nav-d2 { display:none; position:static; width:100%; margin:0; text-align:left; }
	.nav-d1 > li.on .nav-d2 { display:block; }
	.nav-d2 > li { margin:0; }
	.nav-d2 > li a { font-size:15px; font-weight:400; }

	.footer-area .footer-grid { padding:30px 25px 50px; }
	.footer-link { display:block; width:100%; margin:20px -10px 0; }
	.footer-link li:before { display:none; }
	.footer-link li a { padding:5px 10px; font-size:14px; }
	.footer-area .address { padding-top:20px; }
	.footer-area .address span { font-size:14px; }

	/* main : event */
	.cont-area.event .cont-grid { padding-right:25%; }

	/* datail */
	.class-point-box { width:100%; padding-bottom:60px; }
	.point-inner { float:none; width:100%; }
	.vod-list { position:relative; top:auto; right:auto; width:100%; margin-top:140px; padding-top:70px; }
	.vod-list li { width:100%; }
	.vod-list .video-js { width:29%; height:10vw; }
	.vod-list .desc { width:71%; }
	.class-point-list li .desc { top:100%; left:0; margin:30px 0 0 20px; text-align: left; font-size:20px; padding-right:80px; }


	.cont-area.class .btn-area { margin-top:40px; margin-bottom:0; }
	.detail-area .cont-grid { padding:80px 25px; }
	.detail-class:after { background-size:contain;}
	.class-info-list { flex-wrap:wrap; }
	.class-info-list li { flex:0 1 auto; width:calc(50% - 28px); margin:14px; }

	.class-list { margin:0; }
	.class-list .head { padding-top:16px; }
	.class-list .head span { display:block; text-align:left; }
	.class-list .head strong { display:block; height:auto; }
	

	.paging-link a { margin:0; }
}

@media (max-width:765px) {
	.detail-area .cont-grid,
	.cont-grid { padding:40px 25px; }
	.cont-area.event .cont-grid { padding-left:25px; }

	.intro-vod { padding-top:75vw; margin-bottom:4vw;}
	.intro-vod .video-js { top:19%; transform:none; }
	.intro-vod-txt { top:79%; margin-top:0; font-size:4vw; }
	.intro-tit img { width:70vw; }
	.intro-box .subject img { width:45vw; }
	.intro-box.box1 .img-bg { right:-100px; bottom:-60px; transform:scale(0.4); }
	.intro-box.box1:after {display:none;}

	.cont-area.event .cont-grid { padding-top:10%; padding-bottom:10%; }
	.cont-area.event .cont-grid:after { zoom:0.8; }
	.rule-list a { }
	.cont-area.event .event-tit { font-size:25px; margin-right:-25%; }
	.cont-area.event .cont-grid:after { top:60%; }
	
	.info-list dt { font-size:25px; }
	.bul-base > li { font-size:16px; }
	.info-list > div { padding:40px 0 !important; }
	.info-list > div dt { margin-top:200px }
	.info-list > div.item2 dt { margin-top:240px; }
	.desc-img { zoom:0.7; }

	.skill-tit { font-size:25px; }
	.skill-sub { display:block; margin:25px auto 15px; max-width:400px; padding:0; font-size:12px; line-height:48px; height:45px; letter-spacing:-0.025em; white-space:nowrap; }
	.skill-desc { padding:0; font-size:14px; line-height:1.6em; word-break: keep-all;}
	.skill-list { margin-top:20px; }
	.skill-list:after { display:block; clear:both; content:""; }
	.skill-list > li { float:left; width:50%; text-align:center; margin:10px 0 0; }
	.skill-list > li .icon { margin:0 auto; transform:scale(0.8); }
	.skill-list > li strong { margin-top:5px; font-size:15px; }

	.cont-area.skill{ padding-bottom:0; }
	.cont-area.skill .btn-base { height:50px; line-height:50px; border-radius:25px; font-size:20px; display:block; padding:0; }

	.guide-tit { font-size:25px; }

	/* main : guide */
	.guide-list { height:auto; transform:none; margin:30px 0 0; }
	.guide-list:before { z-index:0; padding-top:133%; height:0; bottom:-60%; }
	.guide-list li { z-index:1; position:relative;left:auto !important; bottom:auto !important; top:auto; width:100%; height:auto; border-radius:25px; transform:none !important; margin-bottom:25px; }
	.guide-list .subject { font-size:20px; height:50px; line-height:55px; }
	.guide-list .subject img { width:30px; height:auto; }
	.guide-list li .vod-area { height:196px; pointer-events: initial !important;}
	.guide-list li .desc { font-size:15px; padding:20px 15px 25px; }

	.register-tit { font-size:20px; }
	.register-tit strong { font-size:25px; }


	/* detail */
	.teacher-name { font-size:50px; }
	.class-vod { display:block; width:60%; margin:0; max-height:100%; height:30vw; max-height:350px; }
	.teacher-img { width:45%; }
	.teacher-info .desc { font-size:25px; }
	.teacher-info .desc span { margin-top:8px; display:block; }
	.detail-intro .teacher-info { display:block; width:100%; background-image:none; margin:30px 0 0; }
	.class-tit:before { zoom:0.7; margin-top:-8px;}
	.bul-check { margin-top:20px; margin-right:40%; }
	.bul-check > li{ font-size:16px; background-position:0 2px; }
	.class-tit { font-size:32px; }
	.vod-list .title { font-size:25px; }

	.class-info { padding:30px 25px 0; }
	.class-info-list { margin-top:30px; }
	.class-info-list li{ width:100%; margin:30px 0; min-height:0; padding-bottom:30px; }
	.class-info-list li:before { transform:scale(.8); margin:-70px auto 0; }
	.class-info-list strong { font-size:20px; margin:5px auto 10px; }
	
	.class-point-box { padding:30px 20px; }
	.class-point-box .class-tit { margin-bottom:80px; }
	.class-point-list li { width:100%; margin-left:0; font-size:18px; padding:15px 25px; min-height:0; }
	.class-point-list li i { bottom:100%; margin-bottom:10px; left:0; margin-right:0; right:auto; height:45px; line-height:45px; font-size:16px; }
	.class-point-list li .desc { font-size:16px; }
	.paging-area { margin:40px 0 60px; }

	.vod-list { text-align:center; }
	.vod-list .title { left:50%; right:auto; text-align:center; transform:skew(-20deg) translateX(-50%)}
	.vod-list .title::before { display:none; }
	.vod-list { padding:50px 20px 30px; }
	.vod-list .video-js { float:none; width:100%; height:30vw; }
	.vod-list .desc{  text-align:center; float:none; padding:20px 10px 0; width:100%; font-size:16px; }
	.vod-list .desc strong { font-size:18px; }
	.vod-list .video-js .vjs-control { width:2.4em; }
	.vod-list .video-js .vjs-progress-control { flex:1 1 45%; 1}
}
/* only mo */
@media (min-width:501px) {
	
	
	.only-mo { display:none !important; }
}

/* mobile */
@media (max-width:500px) {
	.paging-link,
	.btn-jump { display:none; }

	.btn-base.type2 {width:100%; padding:0 20px; height:60px; line-height:60px; font-size:18px;}

	.btn-more-view2 { display:block; width:100%; font-size:16px; text-align:center; display:block; border-radius:15px; padding:15px 0; border:1px solid #d9d9d9}
	.btn-more-view2:after { display:inline-block; vertical-align:middle; width:10px; height:10px; border-bottom:1px solid #252525; border-right:1px solid #252525; transform:rotate(45deg); margin:-9px 0 0 20px; content:""; }
	/* table */
	.tbl-base th,
	.tbl-base td { font-size:14px; }

	.class-list li { display:block; margin:10px 0; flex:0 0 100%; }

	.guide-list li:not([data-status="active"]) .vod-area { pointer-events:default; }
	
	.teacher-img { width:50%; }
	.class-vod { width:80%; height:45vw; }
	.class-list .head { padding:13px 20px; height:auto; }
	.class-list .head span { display:block; }
	.class-list .head strong { display:block; height:auto; }
	.class-list li { flex:0 0 100%; width:100%; }
	.class-list .body { padding:13px 20px }
}